<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>
<body>
    <div class="container" >
        <form th:action="@{/usuario/(form)}" th:object="${usuario}" method="POST">

            <input type="hidden" th:field="*{id}">

            <div class="form-group">
            <label for="txtnome">Nome</label>
            <input type="text" class="form-control"
            id="txtnome" th:field="*{nome}">
            </div>
            <div class="form-group">
                <label for="txtemail">E-mail</label>
                <input type="text" class="form-control"
                id="txtemail" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="txtsenha">Senha</label>
                <input type="text" class="form-control"
                id="txtsenha" th:field="*{senha}">
            </div>
            <div class="form-group">
                <label for="txtsexo">Sexo</label>
                <input type="text" class="form-control"
                id="txtsexo" th:field="*{sexo}">
                </div>
            <div class="form-group">
                <label for="txttelefone">Telefone</label>
                <input type="text" class="form-control"
                id="txttelefone" th:field="*{telefone}">
            </div>
            <div class="form-group">
                <label for="txtnascimento">Data de Nascimento</label>
                <input type="date" class="form-control"
                id="txtnascimento" th:field="*{nascimento}">
                <input type="submit" class="btn btn-secondary">
            </div> 
        </form>

    </div>

    <div th:include="layout :: footer">(footer)</div>


</body>
</html>