<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>
<body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <div class="container" >
        <h1 style="color: rgb(255, 255, 255);">Olá Seja bem vindo!</h1>
        <h2 style="color: white; " th:text="${nomenatela} +' '+ ${sobrenomenatela}"></h2>
        <a href="https://www.youtube.com/watch?v=KZrNuf2m96g">MIAAAAAAAAAAAUUUUUUUUUUUUUU!</a>
    </div>


</body>
</html>