<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>
<body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <div class="container-fluid text-center" >
        <p></p>
    <h1>Bem Vindo(a) ao nosso painel Administrativo!</h1>
        <p></p>
    </div>

    <div class="container-fluid text-center" >
        <img class="img-fluid2" src="https://gartic.com.br/imgs/mural/ne/nevoof/pernalonga-comunista.png">
        <p></p>
    </div>
    <div>
        <h2> Aqui você pode cadastrar Usuarios, Allowlists e consulta-los!</h2>
    </div>

    <div class="row">
        <div class="card-container">
          <div class="card mx-auto">
            <div class="card-body">
              <h5 class="card-title text-center">Allowlists!</h5>
              <p class="card-text">Consulte a Allowlist de cada usuario do servidor!</p>
              <a href="/allowlist/" class="btn btn-primary container-fluid">Allowlists!</a>
            </div>
          </div>
        </div>
        <div class="card-container">
            <div class="card mx-auto">
              <div class="card-body">
              <h5 class="card-title text-center">Usuarios!</h5>
              <p class="card-text text-center">Consulte o cadastro de cada usuário do servidor!</p>
              <a href="/usuario/" class="btn btn-primary container-fluid">Usuarios!</a>
            </div>
          </div>
          <div class="card-container">
            <div class="card mx-auto">
              <div class="card-body">
              <h5 class="card-title text-center">Novo Usuario!</h5>
              <p class="card-text">Cadastre um novo usuário no servidor!</p>
              <a href="/usuario/novo" class="btn btn-primary container-fluid">Criar Novo Usuario</a>
            </div>
          </div>
          <div class="card-container">
            <div class="card mx-auto">
              <div class="card-body">
              <h5 class="card-title text-center">Nova Allowlist!</h5>
              <p class="card-text">Cadastre uma nova Allowlist no servidor!</p>
              <a href="/allowlist/nova" class="btn btn-primary container-fluid">Criar Nova Allowlist</a>
            </div>
          </div>
        </div>
      </div>

</body>

</html>